			<form action='by_year.php' method='post' >
	 				<table align="center"  >
	 					<tr>
	 						<td align="right" class="home-table-td" >
	 							Year:
	 						</td>
	 						<td align="left">
	 							<input type='text' name='year' placeholder='Enter year [1944 to 2013]' size="30" />
	 						</td>
	 					</tr>
	 					<tr>
	 						<td align="right" class="home-table-td">
	 							Number Of Results:
	 						</td>
	 						<td align="left">
	 							<input type='text' name='limit' placeholder='Enter the number of top ranks to show' size="30" />
	 						</td>
	 					</tr>
	 					<tr>
	 						<td align="right" class="home-table-td">
	 							Gender:
	 						</td>
	 						<td align="left">
	 							<select name="gender">
	 								<option value='male' >Male</option>
	 								<option value='female' >Female</option>
	 								<option value='both' >Both</option>
	 							</select>
	 						</td>
	 					</tr>
	 					<tr>
	 						<td colspan="2" align="center">
	 							<button class='home-submit' >Search</button>
	 						</td>
	 					</tr>


	 				</table>
	 			</form>